<h1>New Product</h1>
<form action="/products" method="post">
  <div>
    Product Name: <input type="text" name="name" />
  </div>
  <div>
    Price: <input type="text" name="price" />
  </div>
  <div>
    Description: <input type="text" name="description" />
  </div>
  <div>
      Choose a supplier: <select name="supplier_id">
          <option value="">--Please choose an option--</option>
          <option value="1">Nordstrom</option>
          <option value="2">GAP</option>
          <option value="3">Everlane</option>
      </select>
  </div>
  <input type="submit" name="" value="Create Product" />
</form>